.channel-list {
  /* 频道列表 */
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  width: 200px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
}
.channel-list::-webkit-scrollbar {
  /* 设置滚动条默认样式 */
  width: 8px;
  height: 20px;
}
.channel-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}
.channel-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aaa;
}
.channel-list ul > li {
  margin: 5px 0;
  padding-left: 10px;
  color: #e9e9e9;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.channel-list ul > li:nth-child(odd) {
  background-color: #666666;
}
.channel-list ul > li:nth-child(even) {
  background-color: #333333;
}
.channel-list ul > .active {
  color: red;
}
