.control {
  /* 常规控制台 */
  box-sizing: border-box;
  padding: 12px 15px;
  border-radius: 0 0 10px 10px;
  width: 470px;
  height: 70px;
  background-color: #eaeaea;
}
.control > .control-play {
  float: left;
  font-size: 0;
  line-height: 46px;
}
.control > .control-play > span {
  margin-right: 8px;
  display: inline-block;
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.control > .control-play > .status {
  border-radius: 45px;
  width: 45px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
}
.control > .control-play > .next {
  border-radius: 32px;
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
}
.control > .control-music {
  float: right;
  line-height: 46px;
  font-size: 0;
}
.control > .control-music > span {
  margin-left: 15px;
  color: #9a9a9a;
  cursor: pointer;
}
.control > .control-music > .active {
  color: black;
}
.control > .control-music > .random {
  font-size: 18px;
}
.control > .control-music > .loop {
  font-size: 18px;
}
.control > .control-music > .lyric {
  position: absolute;
  bottom: 110px;
  right: 15px;
  font-size: 25px;
  color: black;
  cursor: pointer;
}
.extra {
  /* 隐藏控制台 */
  box-sizing: border-box;
  position: absolute;
  top: 300px;
  display: none;
  padding: 10px 15px 0;
  border-radius: 0 0 10px 10px;
  width: 470px;
  height: 50px;
  color: #fff;
  background-color: #666666;
  z-index: -1;
}
.extra > .horn {
  display: inline-block;
  width: 25px;
  color: red;
  line-height: 40px;
  cursor: pointer;
}
.extra > .volume-bar {
  display: inline-block;
  border-radius: 10px;
  width: 100px;
  height: 10px;
  background-color: white;
  line-height: 40px;
  cursor: pointer;
}
.extra > .volume-bar > .volume-bar-now {
  border-radius: 10px;
  width: 0;
  height: 10px;
  background-color: red;
}
.extra > .channel {
  float: right;
  margin-left: 10px;
  line-height: 40px;
  cursor: pointer;
}
.extra > .channel.active {
  color: red;
}
