/* FM 外壳 */
.music-box {
  margin: 50px auto 0;
  width: 470px;
}
.music-box > .draggable {
  /* 拖动时的状态 */
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: move;
  transition: none;
}
.music-box > .shortcut {
  /* FN 快捷方式 */
  position: relative;
  width: 50px;
  height: 50px;
  display: none;
}
.music-box > .shortcut > span {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: red;
  cursor: pointer;
}
.music-box > .shortcut > .icon-shortcut {
  font-size: 35px;
}
.music-box > .player {
  /* FM 容器及背景 */
  box-shadow: 0 0 2px 2px #ccc;
  position: relative;
  border-radius: 10px;
  width: 470px;
  height: 310px;
}
.music-box > .player > .background {
  background: url(../images/jay.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  height: 240px;
}
.music-box > .player > .music-icon {
  /* FM 字体图标 */
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0;
}
.music-box > .player > .music-icon > span {
  margin-left: 15px;
  cursor: pointer;
}
.music-box > .player > .music-icon > .heart.active {
  color: red;
}
