.overhided {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infor {
  /* 信息面板 */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  width: 470px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
}
.infor > ul {
  position: absolute;
  width: 940px;
}
.infor > ul > li {
  float: left;
  width: 470px;
  height: 200px;
}
.infor > ul > .infor-basic {
  /* 基础信息 */
}
.infor > ul > .infor-basic > .infor-pic > img {
  box-sizing: border-box;
  box-shadow: 0 0 2px 2px #ccc;
  margin: 15px;
  padding: 8px;
  width: 170px;
  height: 170px;
  background-color: #fff;
}
.infor > ul > .infor-basic > .infor-text {
  position: absolute;
  top: 40px;
  left: 200px;
  margin-left: 10px;
  width: 250px;
  color: #666;
}
.infor > ul > .infor-basic > .infor-text > .title {
  font-size: 25px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infor > ul > .infor-basic > .infor-text > .author {
  margin: 10px 0 0 2px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infor > ul > .infor-basic > .infor-text > .channel-cur {
  margin: 50px 0 0 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infor > ul > .infor-lyric {
  /* 歌词信息 */
  border-radius: 10px 10px 0 0;
}
.infor > ul > .infor-lyric > .title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #666666;
  text-align: center;
}
.infor > ul > .infor-lyric > .lyric-list {
  position: absolute;
  top: 85px;
  left: 470px;
  width: 100%;
  height: 115px;
  overflow: hidden;
}
.infor > ul > .infor-lyric > .lyric-list > ul {
  position: absolute;
}
.infor > ul > .infor-lyric > .lyric-list > ul > li {
  box-sizing: border-box;
  padding: 5px 35px;
  width: 470px;
  text-align: center;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0);
}
.infor > ul > .infor-lyric > .lyric-list > ul > .active {
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-align: center;
}
