/* reset css */
div,p,span {
    margin: 0;
    padding: 0;
}
/* general css */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}
/* real css */
.box {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid red;
    border-radius: 5px;
    width: 450px;
}
.infor {
    height: 45px;
    font-weight: bold;
    text-align: center;
}
.infor>.title {
    margin: 0 auto;
    /*width: 300px;*/
    font-size: 25px;
    color: red;
}
.infor>.author {
    margin: 8px auto 0;
    width: 150px;
    font-size: 18px;
    color: #888;
}
.control {
    margin: 5px 0 10px 0;
    color: red;
}
.control .iconfont {
    font-size: 20px;
}
.control>.volume {
    float: left;
    width: 150px;
}
.volume>.horn {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}
.volume>.volume-bar {
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #666666;
    vertical-align: middle;
}
.volume .volume-bar-now {
    width: 0;
    height: 5px;
    background-color: red;
}
.control>.btn {
    float: right;
    width: 150px;
    text-align: right;
    vertical-align: middle;
}
.control>.btn>span {
    margin-left: 20px;
}
.btn>.status>.active {
    display: none;
}
.process {
    font-size: 0;
}
.process>.time-now,.time-total {
    display: inline-block;
    width: 15%;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}
.process>.process-bar {
    display: inline-block;
    width: 70%;
    height: 5px;
    font-size: 16px;
    background-color: #666666;
    vertical-align: middle;
}
.process .process-bar-now {
    width: 0;
    height: 5px;
    background-color: red;
}
.icon-volume,.volume-bar,.last,.next,.play,.pause,.process-bar {
    cursor: pointer;
}